/* colour palette */
$color1: lightyellow; /* light yellow */
$color2: #555; /* dark grey */
$color3: white; /* white */
$color4: #f7f7f7; /* powder blue */
$color5: green; /* green */
$color6: yellow; /* yellow */
$color7: #eee; /* light grey */ 
