@import 'colors';

#wrapperRecords {
  width: 100%;
  margin: 0px 3px;
}
#contentRecords {
  width: 95%;
  margin: 0 auto;
}
table {
  margin: 20px auto;
  width: 100%;
}
table tr:nth-child(odd) {
	background-color: $color7;
}
table tr:nth-child(even) {
	background-color: $color3;
}

th, td {
  padding: 5px 2px;
}


@media only screen and (max-width: 960px) {
  #contentRecords {
    width:100%
  }
}
